.navbar-nav .nav-link.active {
  text-decoration: underline !important;
}
#btnSwitch.bi.bi-brightness-high-fill {
  border-radius: 30px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.bio {
  padding-top: 50px;
  align-items: center;
  text-align: left;
}
.bio-item {
  text-align: justify;
}
.img-menu {
  padding-top: 50px;
}
